/* Bannière */
.banner {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Styles pour les textes de la bannière */
.banner h1 {
    font-size: 50px;
    margin: 0;
    color: lightgreen;
}

.banner h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    color: lightblue;
}

/* Conteneur général */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Profil */
.profil {
    color: #3498DB;
    font-weight: bold;
    margin-top: 10px;
}

/* Section Produits */
.produits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produit {
    flex-basis: 22%;
    text-align: center;
    margin-bottom: 20px;
}

.produit img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.produit h3 {
    margin-top: 10px;
    color: darkslategray;
}

/* Bouton commander */
.commander {
    display: inline-block;
    background-color: lightblue;
    padding: 10px 25px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

/* Image du logo */
.images {
    max-width: 200px;
    display: block;
    margin: 20px auto;
}
